<header class="header">
    <div class="container">
        <div class="fl a-c">
            <div class="logo_place">
                <a class="logo" href="/">Shabanov<span class="f-w-b">overflow</span></a>
            </div>
            <div class="header_search_place">
                <input class="search_inp" placeholder="Поиск по меткам" id="search_inp"/>
                <div class="search_btn_place" id="search_btn">
                    <span class="fa fa-search"></span>
                </div>

            </div>
            <div class="right_part_header">
                <a class="cabinet" href="/cabinet">Кабинет</a>
                <a href="/logout"><span class="fas fa-sign-out-alt"></span></a>
            </div>
        </div>
    </div>
</header>
<script src="../../../static/js/utilites.js"></script>